{# src/Acme/DemoBundle/Resources/views/Export/pdf.html.pdf #}
 
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>HEX</th>
    </tr>
    {% for elements in source %}
        <tr>
        {% for element in elements %}
            <td>{{ element }}</td>
        {%  endfor %}
        </tr>
    {% endfor %}
</table>